

.sidebar {
    height: 100vh;
    width: 300px;
    position: fixed;
    top: 0;
    right: 0;
    background-color: #f6f6f6;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 10px; /* Espaço para o header */
    padding-left: 10px; /* Espaço para o header */
    // box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  
    button {
      background-color: #fff;
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      padding: 10px;
      border: none;
      text-align: left;
      text-decoration: none;
      font-size: 18px;
      margin: 5px 0;
      cursor: pointer;
      width: 100%;
  
      &:hover {
        background-color: #f6f6f6;
      }
  
      &:focus {
        outline: none;
      }
    }
 
  }
  .outSidebar{
    height: 100vh;
    width: calc(100vw - 300px);
    position: fixed;
    top: 0;
    left: 0;
    // background-color: red;
    display: flex;
    justify-content: flex-end;
    background-color: rgba(0, 0, 0, 0.2);
    .sair{
        width: 50px;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
        border-bottom-left-radius: 20px;
        border-top-left-radius: 20px;
        border:none;
        height: 50px;
        padding: 0;
        top: 0;
        right: 0;
        text-align: center;
        background: #f6f6f6;
        box-shadow: 0 0 0 0;
    
      }
  }