<div class="sidebar">
  <div>
    <button mat-flat-button [routerLink]="['/disciplinas']">Disciplinas</button>
    <button mat-flat-button [routerLink]="['/alunos']">Alunos</button>
    <button mat-flat-button>Atividades Avaliativas</button>
    <button mat-flat-button>Solicitações</button>
    <button mat-flat-button>Biblioteca Online</button>
    <button *ngIf="admin">Usuários</button>
  </div>
  <div>
    <button mat-flat-button (click)="openDialog()">Logout</button>
  </div>
</div>
<div class="outSidebar" (click)="fechar()">
  <button  mat-flat-button class="sair" (click)="fechar()">X</button>
</div>